/* /* #outsidefridge{
  background-size: 100%;
  height: 2200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
#title{
    height: 175px; 
    margin-left: -250px;
    padding: 100px; 
    bottom: 100px; 
}

body {
  background-image: url(images/fridge/final_fridge.jpg);
  background-size: 100%;
  height: 1300px;
} 

#begin{
  height: 190px; 
  margin-top: 650px; 
}
